<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{page.title}}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <div class="wrap">
        <div>
            <ul id ="header-nav-list">
                <li><a href="{{ path('shop_homepage') }}">{{ 'Home page' | trans({}, 'frontend') }}</a></li>
                <li><a href="{{ path('shop_about_us') }}">{{ 'About us' | trans({}, 'frontend') }}</a></li>
                <li><a href="{{ path('shop_contact_us') }}">{{ 'Contuct us' | trans({}, 'frontend') }}</a></li>
            </ul>
        </div>
        <div>
            <span>Тел: (067) 249-6414</span>
        </div>
    </div>
</header>
{#<div style="clear: both;"></div>#}
<div id="body">
    {% block body %}

    {% endblock %}
</div>

<footer>
    <div class="wrap">
        © 2015 - {{ 'now' | date('Y') }}
    </div>
</footer>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-migrate.min.js') }}"></script>
{% endblock %}
</body>
</html>
