{% extends ':Frontend:base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/product.css') }}" type="text/css" media="all">
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/simplGal.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.thumbnails').simpleGal({
                mainImage: '.custom'
            });
        });
</script>
{% endblock %}

{% block body %}
    {% set gallery = page.gallery %}

    <div class="product-info">

        <div class="wrap wrap-default-color">
            <h1>{{ page.name }}</h1>
            <div class="image-block">
                <div class="main-image">
                    {% set firstGalleryHasMedia = gallery.galleryHasMedias.first %}
                    <img src="{% path firstGalleryHasMedia.media, 'big' %}" alt="{{firstGalleryHasMedia.media.description}}" class="custom">
                </div>
                <ul class="thumbnails">
                    {% for galleryHasMedia in gallery.galleryHasMedias %}
                        <li><a href="{% path galleryHasMedia.media, 'big' %}">{% thumbnail galleryHasMedia.media, 'thumbnails' %}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="characteristic">
                <div class="price-block">
                    <b>{{ page.price }} грн.</b>
                </div>
                {% if page.characteristic | length > 0  %}

                    <h3>{{ 'Characteristic'| trans({}, 'messages') }}</h3>
                    <ul>
                        {% for characteristic in page.characteristic %}
                            <li><strong>{{ characteristic.name }}</strong>: {{ characteristic.value }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>

            <div style="clear: both;"></div>
        </div>
        <div class="wrap wrap-default-color">
            <div class="description">
                <h3>{{ 'Description'| trans({}, 'messages') }}</h3>
                {{ page.description }}
            </div>

        </div>
    </div>
{% endblock %}